<div class="container" *ngIf="productDetail">
    <div class="row">
        <div class="col-12">
            <h1>{{productDetail.title}}</h1>
            <img src="{{productDetail.image}}" alt="" width="250">
            <div class="price">
                <span> Rs.{{productDetail.price}}</span>
                <!-- <span>{{productDetail.discountPercentage}}</span> -->
            </div>  
            <span>{{productDetail.description}}</span>
            <button (click) = "removeProduct()">Add to Cart</button>
        </div>
    </div>
</div>