<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Angular Training</h1>
      <button (click)="sum('4',4,6)">Add</button>
    </div>
  </div>
</div> -->

<!-- <div id="main">
  <div class="main-container">
    <h1 class="red-text">This is red color text</h1>
    <h2 class="blue-text">This is blue color text</h2>
  </div>
</div>
<app-login></app-login>
<button (click)="total(4,5)">Count</button> -->

<div class="container">
  <div *ngIf = "!productdetail; else singleProduct">
     <app-products (productDetail)="assignData($event)"></app-products>
  </div>
  <div>
    <ng-template #singleProduct>
    <app-single-product (removeValue) = "assignData($event)" [productDetail]="productdetail"></app-single-product>
    </ng-template>
  </div>
</div>